@import "../variable/variable.scss";

header {
    background-color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 92px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    align-items: center;
    .navbar-expand{
        width: 100%;
    }
    .dropdown-toggle.nav-link {
        color: $bg-primary !important;
        font-size: 21px;
        font-weight: 600;
        display: flex;
        align-items: center;
        .profile{
            img{
                border: 6px solid $bg-primary;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                margin-right: 12px;
            }
        }
    }
    .dropdown-menu {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $bg-secondary;
        top: 95px !important;
        left: -20px !important;
        border-radius: 25px;
        padding: 0;
        border: none;
        ul {
            margin: 0;
            width: 240px;
            li {
                padding: 0 5px;
                &:first-child{
                    border-radius: 23px 23px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 23px 23px;
                    .dropdown-item {
                        border: none;

                    }
                }
                &:hover{
                    background-color: $white;
                    a{
                        color: $bg-primary;
                    }
                }
                a {
                    color: $white;
                    border-bottom: 1px solid rgba(244, 248, 255, 0.1);
                    padding: 15px;
                    font-size: 18px;
                    font-weight: 400;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    width: 100%;
                    text-decoration: none;
                    display: block;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }

        }
        &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background: $bg-secondary;
            top: -12px;
            left: 50px;
            transform: rotate(45deg);
            border-radius: 4px;
            z-index: -1;
        }
    }
    .header-btn {
        display: flex;
        gap: 20px;
        button {
            background-color: $bg-primary !important;
            width: 98px;
            height: 48px;
            color: $white !important;
            font-size: 15px;
            i{
                display: none;
            }
        }
    }
    .login-toggle{
        .dropdown{
            .dropdown-toggle::after{
                display: none;
            }
        }
        #dropdown-basic {
            background-color: $bg-secondary;
            border: none;
            height: 48px;
            width: 48px;
            margin-left: 20px;
        }
        .dropdown-menu {
            top: 80px !important;
            left: auto !important;
            right: 0;
            &::before{   
            top: -12px;
            left: auto;
            right: 25px;
            }
        }
        svg{    
            font-size: 25px;
        }
    }
}


@media (max-width:575px){
    header{
        .logo{
            img{
                width: 140px;
                height: auto;
            }
        }
        header .dropdown-menu {
            top: 95px !important;
            left: -50px !important;
        }
        .header-btn{
            gap: 10px;
            button{
                width: 40px;
                height: 40px;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    display: none;
                }
                i{
                    display: block;
                }
            }
        }
        .login-toggle{
            #dropdown-basic {
                height: 40px;
                width: 47px;
                margin-left: 10px;
            }
        }
    }
}