@import "../styles/variable/variable.scss";

.available-offer{

    ul{
        text-align: center;
        li{
            display: flex;
            justify-content: space-between;
            p{
                flex: 50%;
            }
            span{
                flex: 50%;
            }
        }
    }
}
.available-card-img{
    margin-right: 5px;
    width: auto;
        height: auto;
        border-radius: 4px;
    img{
        width: auto;
        height: auto;
        border-radius: 4px;
    }
}

.table-blue
{
    background-color: transparent !important;
    tr td {
         padding: 10px;
        vertical-align: top;
    }
}

@media (max-width: 767px) {
    .table-blue
{
    background-color: transparent !important;
    tr td {
        padding: 2px;
        vertical-align: top;
        border: 1px ridge rgba(0, 0, 0, .24);
    }
}
}

