@import "../styles/variable/variable.scss";

.available-offer{

    ul{
        text-align: center;
        li{
            display: flex;
            justify-content: space-between;
            p{
                flex: 50%;
            }
            span{
                flex: 50%;
            }
        }
    }
}
.available-card-img{
    margin-right: 5px;
    img{
        width: auto;
        height: auto;
        border-radius: 4px;
    }
}
