@import "../styles/variable/variable.scss";

.available-offer{
    ul{
        li{
            display: flex;
            justify-content: space-between;
            p{
                flex: 50%;
            }
            span{
                flex: 50%;
                text-align: right;
            }
        }
    }
}