@import "../styles/variable/variable.scss";

// Banner Section Css Start
.banner-section {
    position: relative;
    margin-top: 90px;
    background-color: $bg-primary;
    .banner-main {
        padding: 80px 0;
        .banner-text {
            color: $white;
            text-align: left;
            padding-right: 60px;
            h1 {
                font-size: 56px;
                font-weight: 600;
            }
            p {
                font-size: 20px;
                padding: 35px 0;
                font-weight: 500;
            }
            .get-start {
                background-color: $white;
                border-radius: 20px;
                font-size: 30px;
                font-weight: 500;
                color: $bg-primary;
                border: none;
                padding: 10px 50px;
            }
        }
        img {
            width: 554px;
            height: 554px;
            object-fit: contain;
        }
    }
}
.login {
    .banner-text {
        .register {
            background-color: $white;
            border-radius: 20px;
            font-size: 30px;
            font-weight: 500;
            color: $bg-primary;
            border: none;
            padding: 15px 50px;
        }
    }
}

// Media Query

@media (max-width: 991px) {
    .banner-section {
        .banner-main{
            padding: 0;
            .banner-text {
                padding-right: 0;
                text-align: center;
                padding-top: 30px;
                h1{
                    font-size: 40px;
                }
                p{
                    padding: 20px 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .banner-section {
        padding-top: 0;
        .banner-main {
            text-align: center;
            padding: 20px 0 20px 0;
            img {
                width: 80%;
                height: 100%;
            }

            .banner-text {
                text-align: center;
                padding: 0;
                margin-top: 30px;
                h1 {
                    font-size: 35px;
                }
                p {
                    font-size: 16px;
                    padding: 15px 0;
                }
                button {
                    font-size: 20px;
                    margin-bottom: 50px;
                }
            }
        }
    }

    .banner-bottom {
        .banner-bottom-text {
            flex-direction: column;
            text-align: center;
            h2 {
                font-size: 25px;
            }
            button {
                width: 180px;
                height: 50px;
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }
    .mb-40
    {    margin-bottom: 40px;
    }

    .banner-text ul li {
        list-style: none;
    }
}


// Comman CSS
.text-contain{
    width: 99%;
}
.header-title{
    color: #2E2E2E;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1em;
    text-align: center;
}
.header-title-1
{
line-height: 4opx;
font-size: 40px;
color: #1d4289;
font-weight: 700;
}
.normal-txt{
    color: #2E2E2E;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;    
}
.ul-txt li{
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    // padding-left: 10px;
    margin-bottom: 10px;
}
.list-type5{
    width:80%;
    margin:0 auto;
    }
    .list-type5 ol {
    list-style-type: none;
    list-style-type: decimal ;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
    }
    .list-type5 ol li{
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color:#cae8d3 ;// #F0D756;
    padding-left: 58px;
    border-radius: 8px;
    }
    
    .list-type5 a{
    text-decoration:none;
    color:black;
    font-size:20px;
    font-family: 'Raleway', sans-serif;
    }
    
    .list-type5 li:hover{
    // box-shadow:inset -1em 0 #1d4289;
    -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
    }
    
    .list-type5 ol li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #1d4289;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
    }

    .resize-15{
        width: 15px;
        height: 15px;
    }

    .al-center{
        align-items: center;
      }
      .section-home{
        background-color: #fff;
      }
      .list-group-item
      {
        font-size: 20px;

      }

      .banner-text h3 {
        font-size: 2.6rem;
        text-transform: uppercase;
        margin-bottom: 25px;
}
.banner-text h3 small {  font-size: 1.2rem; }
.banner-section .banner-main .banner-text p { padding: 0  !important}
.banner-text ul li {
    font-size: 20px;
    font-weight: 500;
}
.carousel  .carousel-indicators [data-bs-target] {
    border-radius: 10px !important;
    overflow: hidden;
    height: 15px;
    width:15px;
    border-top: 0  !important;
    border-bottom: 0  !important;
}
.carousel  .carousel-control-next, 
.carousel  .carousel-control-prev { width: 50px; }